<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985249804118-oufg6ivatd883ut2c0f0qfa5qajq6va6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985249804118-oufg6ivatd883ut2c0f0qfa5qajq6va6</string>
	<key>API_KEY</key>
	<string>AIzaSyD_JlJ10QJoDxS-m08K3dkmVJRFS_1zmPA</string>
	<key>GCM_SENDER_ID</key>
	<string>985249804118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aimartDev</string>
	<key>PROJECT_ID</key>
	<string>aimart-9d86d</string>
	<key>STORAGE_BUCKET</key>
	<string>aimart-9d86d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985249804118:ios:427bfb0c706e76e337b0f7</string>
</dict>
</plist>